.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 249, 178, 1);
    transition: 0.3s;
    position: absolute;
    width: 33%;
    height: 200px;

    top: 600px;
    left: 20px;
    text-align: center;
 

    
  }
  h4{
    color: #00f9b2;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .containerCard {
    padding: 2px 16px;
  }
  .cardImage{
    width: 10px;

  }
 p{
  font-family: fantasy;
  
 }
 h4{
  font-family: fantasy;
  font-weight: bold;
 }