/* modal.css */

*{
  border: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}


body {
  height: 100%;

}

.modal-cont {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.47);
  top: 0;
  left: 0;
  overflow: auto;
}

.modal-box {
  width: 80%;
  margin: 30px auto;
  background-color: white;
  position: relative;
}

.modal-box .close {
  position: absolute;
  right: 16px;
  top: 5px;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}

.modal-box .close:hover,
.modal-box .close:focus {
  color: #c6c6c6;
}

.modal-box img {
  width: 30%;
  border-radius: 50%;
  display: block;
  margin: auto;
  padding: 14px;
  margin-bottom: 30px;
  min-width: 150px;
  max-width: 230px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: 1px solid #d0d0d0;
  display: block;
  padding: 8px;
  margin: 5px 0;
  margin-bottom: 10px;
}

.modal-box .login-button {
  padding: 10px;
  font-size: 15px;
  display: block;
  width: 100%;
  color: white;
  background-color: #00f9b2;
  margin: 16px 0;
}

input[type="checkbox"] {
  margin-right: 2px;
  vertical-align: baseline;
}



.modal-box label,
.modal-box .login-button,
.modal-box input {
  width: 95%;
  display: block;
  margin: 10px auto;
}

.modal-box .login-button {
  margin-top: 16px;
  cursor: pointer;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-left: 16px;
}

.modal-box .close-forgot {
  background-color: #d8d8d8;
  width: 100%;
  padding: 30px 2.5%;
}

.modal-box .cancel {
  background-color: #c44f4f;
  padding: 10px 15px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.modal-box span {
  float: right;
}

.modal-box a {
  color: #1483be;
  font-weight: 500;
  text-decoration: underline;
}

.modal-cont {
  display: none;
}

.modal-box {
  animation-name: zoom;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(35, 120, 204, 0.8);
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.login {
  padding: 10px 25px;
  font-size: 15px;
  color: black;
  background-color: #f90047;
  font-weight: bold;

  color: white;

  cursor: pointer;
  border-radius: 5px;
  transform: translate(1150px,-50.5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 14px 16px;
  width: 100px;



}
.login:hover{
  color: white;
  background-color: #00f9b2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  top: 50%;
  left: 50%;
}

h1{
  margin: auto;
  text-align: center;
  display: block;
  right: 0;
  position: absolute;
  top: 0;
}

.fraud{
  padding: 15px 25px;
  font-size: 15px;
  width: 100px;
  color: black;
  background-color: #f90047;
  font-weight: bold;

  color: white;

  cursor: pointer;
  border-radius: 5px;
  transform: translate(1150px,-50.5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 14px 16px;

}
.fraud:hover{
  color: white;
  background-color: #00f9b2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  top: 50%;
  left: 50%;

}
.avatar{
  width: 80px;
  height: 50px;
  margin-left: 1370px;
  top: -100px;

  position:relative;
}